body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 25px;
    color: white;
    background-color: #000000cc;
  }
  
  code {
    font-weight: bold;
    color: lightsteelblue;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 1%;
  }

  .resumo{
    text-align: center;
    background-color: darkslategray;
    border: 2px solid black;
    border-radius: 10%;
    margin-left: 25%;
    margin-right: 25%;
  }

  .imagens{
    width: 25em;
    border: 3px dashed gray;
    border-radius: 20%;
  }