body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  color: white;
  background-color: #000000cc;
}

code {
  font-weight: bold;
  color: burlywood;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 1%;
}

#img {
  display: flex;
  height: 15em;
  width: 30em;
  border-radius: 10%;
}
